.home-image-container {
    position: relative;
    width: 100vw; /* 화면 전체 너비 */
    height: 950px; /* 이미지 높이 설정 */
    overflow: hidden;
    margin-left: calc(-50vw + 50%); /* 중앙 정렬을 위해 추가 */
  }
  
  .quote-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(227, 25, 55, 0.7);; /* 검은색 불투명한 상자 */
    padding: 50px 50px;
    border-radius: 15px; /* 라운드 코너 */
    max-width: 700px;
    text-align: center;
    color: white;
  }
  
  .quote {
    position: relative;
  }
  
  .quote-mark {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    opacity: 0.8;
  }
  
  .left-quote {
    position: absolute;
    top: -20px;
    left: -30px;
  }
  
  .right-quote {
    position: absolute;
    bottom: -20px;
    right: -30px;
  }
  
  .quote-text {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  